# Virtual Environment
venv/
env/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Local development settings
*.log
.DS_Store